<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2024 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Infrangible_CustomerBlock::infrangible_customerblock" title="Customers Block" module="Infrangible_CustomerBlock" sortOrder="20" resource="Infrangible_CustomerBlock::infrangible_customerblock" parent="Infrangible_Foundation::menu"/>
        <add id="Infrangible_CustomerBlock::infrangible_customerblock_manage" title="Manage Criteria" module="Infrangible_CustomerBlock" sortOrder="10" resource="Infrangible_CustomerBlock::infrangible_customerblock" parent="Infrangible_CustomerBlock::infrangible_customerblock" action="infrangible_customerblock/customer_block_criteria/index"/>
    </menu>
</config>
